@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
	font-family: "Noto Sans Japanese", serif;
	font-size: 20px;
}
article {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	min-height: 500px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #ccc;
	margin: 0 auto;
	padding: 20px;
}
h1 {
	font-size: 3rem;
	margin: 0;
	background-color: #efefef;
	padding: 10px;
}
img {
	width: 100%;
	height: 100%;
	min-width: 100%;
}